body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
}

h1 {
    color: navy;
}

#princpal { /* la foto principal de la pag */
    width: 350px;
    border-radius: 20px;
}

#secundaria{
    width: 120px;
}

